a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

#react-root, article, div, footer, header, main, nav, section {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

body, button, input, textarea {
    font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.modal.modal-center {
  text-align: center;
}

@media screen and (min-width: 768px) { 
.modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle; 
}


._d20no {
    background-color: #fff;
}

._n3cp9 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    max-width: 935px;
    pointer-events: auto;
    width: 100%;
}

@media (min-width: 736px) {
._djxz1._j5hrx {
    padding-right: 335px;
    width: 935px;
}
}
@media (min-width: 736px) {
._djxz1 ._s6yvg {
    border-bottom: 1px solid #efefef;
    height: 78px;
    padding: 20px 0;
    position: absolute;
    right: 24px;
    top: 0;
    width: 287px;
}
}

._s6yvg {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

a, a:visited {
    color: #003569;
    text-decoration: none;
}

._pss4f {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

._5lote {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

._a012k {
    height: 38px;
    width: 38px;
}

._f95g7 {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: hidden;
    line-height: 0;
}

._ook48, ._ook48:visited {
    color: #262626;
}

._ook48 {
    margin-right: 100%;
}

._ook48, ._psfzf {
    display: inline-block;
    max-width: 100%;
}

@media (min-width: 736px) {
._4zhc5 {
    font-size: 15px;
    line-height: 18px;
}
}

._4zhc5 {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

a._kul9p, a._kul9p:visited {
    color: #262626;
}

._rnlnu {
    display: inline-block;
    max-width: 100%;
}

@media (min-width: 736px) {
._kul9p {
    font-size: 15px;
    line-height: 18px;
}
}

._kul9p {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._fbms8 {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 20px;
    max-width: 140px;
}

._e616g {
    display: block;
    position: relative;
}

@media (min-width: 736px) {
._aj7mu {
    font-size: 16px;
}
}

@media (min-width: 736px) {
._kenyh {
    line-height: 29px;
    padding: 0 11px;
}
}

._o0442 {
    cursor: pointer;
}

._2hpcs {
    background: 0 0;
    border-color: #3897f0;
    color: #3897f0;
}

._aj7mu {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    -webkit-appearance: none;
}

._a1rcs {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

._ea084 {
    background-color: rgba(0,0,0,.75);
}

._quk42 {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}

._7629j {
    bottom: 0;
    left: 0;
    padding: 40px;
    position: fixed;
    right: 0;
    top: 0;
}

._7629j, ._hj98d {
    margin: 0 auto;
    pointer-events: none;
}

._quk42 * {
    pointer-events: auto;
}

._hj98d {
    height: 100%;
    max-width: 935px;
    width: 100%;
}

.coreSpriteLeftPaginationArrow {
    background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/684453.png);
    background-repeat: no-repeat;
    background-position: -150px -585px;
    height: 40px;
    width: 40px;
}

._qdy3e {
    left: -40px;
}

._de018, ._qdy3e {
    display: block;
    margin-top: -20px;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
    text-indent: -9999em;
    top: 50%;
}

._de018 {
    right: -40px;
}

.coreSpriteRightPaginationArrow {
    background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/684453.png);
    background-repeat: no-repeat;
    background-position: -583px -448px;
    height: 40px;
    width: 40px;
}

._de018, ._qdy3e {
    display: block;
    margin-top: -20px;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
    text-indent: -9999em;
    top: 50%;
}

._g1ax7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    overflow: auto;
    width: auto;
    z-index: 1;
}

@media (min-width: 481px) {
._g1ax7 {
    padding: 0 40px;
    pointer-events: none;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
}

._n3cp9 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    max-width: 935px;
    pointer-events: auto;
    width: 100%;
}

._d20no {
    background-color: #fff;
}

._22yr2 {
    background-color: #edeeee;
    display: block;
    width: 100%;
}

._e0mru {
    box-shadow: inset 0 0 20px 0 #efefef;
}

._jjzlb {
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
}

._icyx7, ._ovg3g {
    left: 0;
    position: absolute;
    top: 0;
}

._icyx7 {
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

._icyx7, ._ovg3g {
    left: 0;
    position: absolute;
    top: 0;
}

._ovg3g {
    bottom: 0;
    right: 0;
}

@media (min-width: 736px){
._7uiwk, ._es1du, ._l086v {
    font-size: 15px;
    line-height: 18px;
}
}

@media (min-width: 736px){
._es1du {
    padding: 0 24px;
}
}

@media (min-width: 736px){
._djxz1 ._rgrbt {
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 78px;
    width: 335px;
}
}

._tfkbw {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

._d39wz {
    padding: 20px 0;
}

._oajsw {
    display: block;
}

._lx2l2, ._lx2l2:visited, ._oajsw {
    color: #262626;
}

._iuf51 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

._tf9x3 {
    font-weight: 600;
}

._rmo1e, ._rmo1e:visited {
    color: #999;
    margin-left: 10px;
}

@media (min-width: 736px){
._379kp {
    font-size: 15px;
    line-height: 18px;
}
}

ol, ul {
    list-style: none;
}

._hbpsy, ._k3t69, ._mo9iw {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

._123ym {
    overflow: auto;
    padding-bottom: 20px;
}

@media (min-width: 736px){
._mo9iw {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: -5px;
    padding-top: 5px;
}
}

._nk46a {
    margin-bottom: 7px;
    position: relative;
    word-wrap: break-word;
}

._4zhc5 {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

@media (min-width: 736px){
._4zhc5 {
    font-size: 15px;
    line-height: 18px;
}
}

._iqaka {
    margin-right: .3em;
}

._iqaka, ._iqaka:visited {
    color: #262626;
}

._ixow7, ._jveic {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

._jveic {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #efefef;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

._rhgel {
    margin-top: auto;
}

@media (min-width: 736px){
._jveic {
    min-height: 68px;
}
}

._1tv0k {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

._ebwb5 {
    margin-left: -9px;
    margin-right: 3px;
}

._9q0pi, ._ebwb5, ._rmo1e, ._rmo1e:visited {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

._9q0pi, ._ebwb5 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.coreSpriteHeartOpen {
    background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/684453.png);
    background-repeat: no-repeat;
    background-position: -130px -635px;
    height: 24px;
    width: 24px;
}

._soakw {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}

._hbpsy, ._k3t69 {
    color: #999;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

._hbpsy, ._k3t69, ._mo9iw {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

._qy55y {
    -webkit-appearance: none;
}

._7uiwk {
    background: 0 0;
    border: none;
    color: #262626;
    outline: none;
    width: 100%;
}

.coreSpriteEllipsis {
    background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/684453.png);
    background-repeat: no-repeat;
    background-position: -493px -448px;
    height: 44px;
    width: 44px;
}

._soakw {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}

._9q0pi {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-left: 5px;
    margin-right: -10px;
    padding: 0;
}

._9q0pi, ._ebwb5, ._rmo1e, ._rmo1e:visited {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

._9q0pi, ._ebwb5 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

._3eajp::before {
    color: #fff;
    content: '\00D7';
    display: block;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

._3eajp {
    background: 0 0;
    border: none;
    cursor: pointer;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.modal{
	z-index: 1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

._7629j {
	z-index: 1;
}
