@CHARSET "UTF-8";

._mhrsk {
    font-size: 12px;
    font-weight: 600;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
}

@media (min-width: 875px){
._pcuq6 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 38px 0;
}
}

@media (min-width: 875px){
._pcuq6 ._p1gbi {
    max-width: 100%;
}
}

ol, ul {
    list-style: none;
}

._fh0f2 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 3px;
}

@media (min-width: 875px){
._pcuq6 ._fh0f2 {
    margin-right: 16px;
}
}

._fw3ds {
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 16px;
}

._es4h6 {
    color: #999;
}