@CHARSET "UTF-8";

@media (min-width: 736px){
._1l53n {
    font-size: 17px;
    margin-top: 56px;
    margin-bottom: 44px;
}
}

._1l53n {
    color: #262626;
    text-align: center;
}

@media (min-width: 736px){
._totu9 {
    font-size: 34px;
    margin-bottom: 13px;
}
}

._totu9 {
    font-weight: 300;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

._s53mj, ._s53mj:active, ._s53mj:hover, ._s53mj:visited {
    color: inherit;
}

._bkw5z {
    color: #262626;
    font-weight: 600;
}

@media (min-width: 736px){
._3n7ri {
    box-sizing: content-box;
    padding: 0 20px;
    width: calc(100% - 40px);
}
}

._3n7ri {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
    width: 100%;
}