@CHARSET "UTF-8";

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.wbtn {
	display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  float: right;
  margin: 10px 0;
}

/* .filebox label {
      background-image: url('../image/insta.png');
    background-repeat: no-repeat;
    background-position: -505px -585px;
    height: 25px;
    width: 25px;
} */

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.writesearch {
	background: #fff;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    box-shadow: 0,0,5px,rgba(0,0,0,.13);
    display: block;
    position: absolute;
    top: -80px;
    width: 552px;
    z-index: 9;
}

.writesearchsub {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

._jacrq2 {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

/* .writesearch::after {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 10px;
    height: 0;
    left: 110px;
    top: -10px;
    width: 0;
    z-index: 3;
}

.writesearch::after {
    content: ' ';
    position: absolute;
} */